[tool.commitizen]
name = "cz_conventional_commits"
version = "1.0.2"
tag_format = "v$version"
bump_message = "chore(release): v$new_version"
annotated_tag = true
changelog_incremental = true
version_files = [
  "VERSION",
  "config/toolchain.conf:TOOLCHAIN_VERSION",
]
changelog_file = "CHANGELOG.md"
update_changelog_on_bump = true
changelog_sections = [
  "feat", "fix", "perf", "refactor", "docs", "test", "build", "ci", "chore"
]